<footer class="{{ .Site.Params.background_color_class | default "bg-black" }}" role="contentinfo">
  <div class="flex flex-column items-center w-100">
      <!-- スポンサー -->
      <div class="flex items-center justify-center flex-wrap">
      <div class="sponsorship-markdown flex items-center">
        <p class="tc white-70 f5 mb3">Sponsored by</p>
        {{ with .Site.GetPage "sponsorship" }}
          {{ .Content }}
        {{ end }}
      </div>
    </div>

    <!-- SNSなど -->
    <div class="mt3 tc white-70 f5">
      {{ partialCached "social/follow.html" . }}
    </div>
  </div>
</footer>
